:root {
  --vscode-dark-bg: #1e1e1e; /* Dark background color similar to VSCode */
  --vscode-dark-fg: #d4d4d4; /* Foreground/text color for dark theme */
  --vscode-link-color: #569cd6; /* Typical VSCode link color */
}
body {
  background-color: var(--vscode-dark-bg);
  color: var(--vscode-dark-fg);
  font-size: 0.7rem;
}
button {
  white-space: nowrap; /* Prevents text wrapping inside the button */
  overflow: hidden;   /* Ensures any overflow is hidden */
  text-overflow: ellipsis; /* If text overflows, it will be truncated with an ellipsis */
  min-width: 150px;   /* Sets a minimum width for the button */
}

@media (max-width: 576px) { 
  button {
      font-size: 0.6rem; 
      padding: 0.25rem 0.5rem; 
  }
}

/* Make the main content take full height and use flex to position the footer at the bottom */
.full-height-flex {
display: flex;
flex-direction: column;
min-height: 100vh;
}

.content-grow {
flex: 1;
}

/* Styling for the footer */
.footer {
font-size: 0.85rem; /* Reduced font size */
margin-top: 1rem;   /* Space above the footer */
}
h4,
h5,
h6 {
  font-size: 1rem;
}

a,
a:hover,
a:focus {
  color: var(--vscode-link-color);
}

.btn {
  border-color: rgba(255, 255, 255, 0.1);
}

.btn-primary {
  background-color: var(--vscode-link-color);
  border-color: var(--vscode-link-color);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: rgba(
    86,
    156,
    214,
    0.8
  ); /* Slightly lighter version of --vscode-link-color */
}
#scan-button {
  display: block;
  border: none;
  margin: 0 auto;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 9px;
  padding-top: 9px;
  background-color: gray;
  border-radius: 8px;
  font-size: 15px;
  width: 100%;
  max-width: 320px;
  margin-top: 20px;
}
#scan-button:hover {
  background-color: gainsboro;
  opacity: 0.75;
}
#settings {
  display: block;
  border: none;
  margin: 0 auto;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 9px;
  padding-top: 9px;
  background-color: gray;
  border-radius: 8px;
  font-size: 15px;
  width: 100%;
  max-width: 320px;
  margin-top: 20px;
}
#settings:hover {
  background-color: gainsboro;
  opacity: 0.75;
}
